<h3>After a while, Rupert met a beautiful fox named {{storyOne.name}}.
 They fell deeply in love and lived in a house next to 
    the Eiffel Tower. They lived there happily ever after. 
     The end</h3>